In [112]:
import pandas as pd
import numpy as np

In [113]:
data = pd.read_csv("../data/train.csv")

In [114]:
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [115]:
len(data)

76020

In [116]:
sum(data["TARGET"])

3008

In [117]:
data.isnull().any().any()

False

In [118]:
selected_col = []
for col in data.columns:
    if len(data[col].unique()) != 1:
        selected_col.append(col)
print(len(selected_col))

337

In [119]:
data = data[selected_col]

In [120]:
target = data['TARGET']

In [121]:
df_pos = data[data['TARGET']==1]
df_neg = data[data['TARGET']==0]

In [122]:
data = data.drop('TARGET', axis=1)
df_pos = df_pos.drop('TARGET', axis=1)
df_neg = df_neg.drop('TARGET', axis=1)

In [123]:
selected_pos_col = []
non_selected_pos_col = []
for col in df_pos.columns:
    if len(df_pos[col].unique()) != 1:
        selected_pos_col.append(col)
    else:
        non_selected_pos_col.append(col)
print(len(selected_pos_col))

228

In [124]:
selected_neg_col = []
non_selected_neg_col = []
for col in df_neg.columns:
    if len(df_neg[col].unique()) != 1:
        selected_neg_col.append(col)
    else:
        non_selected_neg_col.append(col)
print(len(selected_neg_col))

336

In [125]:
intersection_cols = list(set(selected_pos_col) & set(selected_neg_col))

In [126]:
len(intersection_cols)

228

In [127]:
pos_samples_uniq = {}
for col in non_selected_pos_col:
    uniq1 = df_pos[col].unique()
    uniq0 = df_neg[col].unique()
    if uniq1[0] not in uniq0:
        print(col)
    else:
        target = target[data[col]==uniq1[0]]
        data = data[data[col]==uniq1[0]]
        data = data.drop(col, axis=1)
        pos_samples_uniq[col] = uniq1[0]

In [128]:
pos_samples_uniq

{'ind_var6_0': 0,
 'ind_var6': 0,
 'ind_var13_medio_0': 0,
 'ind_var13_medio': 0,
 'ind_var18_0': 0,
 'ind_var18': 0,
 'ind_var20_0': 0,
 'ind_var20': 0,
 'ind_var29_0': 0,
 'ind_var29': 0,
 'ind_var33_0': 0,
 'ind_var33': 0,
 'ind_var34_0': 0,
 'ind_var34': 0,
 'num_var6_0': 0,
 'num_var6': 0,
 'num_var13_medio_0': 0,
 'num_var13_medio': 0,
 'num_var18_0': 0,
 'num_var18': 0,
 'num_var20_0': 0,
 'num_var20': 0,
 'num_op_var40_hace3': 0,
 'num_var29_0': 0,
 'num_var29': 0,
 'num_var33_0': 0,
 'num_var33': 0,
 'num_var34_0': 0,
 'num_var34': 0,
 'saldo_var6': 0.0,
 'saldo_var13_medio': 0,
 'saldo_var18': 0,
 'saldo_var20': 0.0,
 'saldo_var29': 0.0,
 'saldo_var33': 0.0,
 'saldo_var34': 0,
 'delta_imp_amort_var18_1y3': 0,
 'delta_imp_amort_var34_1y3': 0,
 'delta_imp_aport_var33_1y3': 0.0,
 'delta_imp_reemb_var33_1y3': 0,
 'delta_imp_trasp_var17_in_1y3': 0,
 'delta_imp_trasp_var17_out_1y3': 0,
 'delta_imp_trasp_var33_in_1y3': 0,
 'delta_imp_trasp_var33_out_1y3': 0,
 'delta_imp_venta_var44_1y3': 0.0,
 'delta_num_aport_var33_1y3': 0.0,
 'delta_num_reemb_var33_1y3': 0,
 'delta_num_trasp_var17_in_1y3': 0,
 'delta_num_trasp_var17_out_1y3': 0,
 'delta_num_trasp_var33_in_1y3': 0,
 'delta_num_trasp_var33_out_1y3': 0,
 'delta_num_venta_var44_1y3': 0.0,
 'imp_amort_var18_ult1': 0.0,
 'imp_amort_var34_ult1': 0.0,
 'imp_aport_var17_hace3': 0.0,
 'imp_aport_var33_hace3': 0,
 'imp_aport_var33_ult1': 0,
 'imp_var7_emit_ult1': 0.0,
 'imp_compra_var44_hace3': 0.0,
 'imp_reemb_var17_hace3': 0.0,
 'imp_reemb_var33_ult1': 0,
 'imp_trasp_var17_in_hace3': 0.0,
 'imp_trasp_var17_in_ult1': 0.0,
 'imp_trasp_var17_out_ult1': 0.0,
 'imp_trasp_var33_in_hace3': 0.0,
 'imp_trasp_var33_in_ult1': 0.0,
 'imp_trasp_var33_out_ult1': 0,
 'imp_venta_var44_hace3': 0.0,
 'imp_venta_var44_ult1': 0.0,
 'ind_var7_emit_ult1': 0,
 'num_aport_var17_hace3': 0,
 'num_aport_var33_hace3': 0,
 'num_aport_var33_ult1': 0,
 'num_var7_emit_ult1': 0,
 'num_compra_var44_hace3': 0,
 'num_meses_var13_largo_ult3': 0,
 'num_meses_var13_medio_ult3': 0,
 'num_meses_var29_ult3': 0,
 'num_meses_var33_ult3': 0,
 'num_reemb_var17_hace3': 0,
 'num_reemb_var33_ult1': 0,
 'num_trasp_var17_in_hace3': 0,
 'num_trasp_var17_in_ult1': 0,
 'num_trasp_var17_out_ult1': 0,
 'num_trasp_var33_in_hace3': 0,
 'num_trasp_var33_in_ult1': 0,
 'num_trasp_var33_out_ult1': 0,
 'num_venta_var44_hace3': 0,
 'num_venta_var44_ult1': 0,
 'saldo_medio_var13_largo_hace2': 0.0,
 'saldo_medio_var13_largo_hace3': 0.0,
 'saldo_medio_var13_largo_ult1': 0.0,
 'saldo_medio_var13_largo_ult3': 0.0,
 'saldo_medio_var13_medio_hace2': 0.0,
 'saldo_medio_var13_medio_ult1': 0,
 'saldo_medio_var13_medio_ult3': 0.0,
 'saldo_medio_var17_hace2': 0.0,
 'saldo_medio_var17_hace3': 0.0,
 'saldo_medio_var29_hace2': 0.0,
 'saldo_medio_var29_hace3': 0.0,
 'saldo_medio_var29_ult1': 0.0,
 'saldo_medio_var29_ult3': 0.0,
 'saldo_medio_var33_hace2': 0.0,
 'saldo_medio_var33_hace3': 0.0,
 'saldo_medio_var33_ult1': 0.0,
 'saldo_medio_var33_ult3': 0.0,
 'saldo_medio_var44_hace2': 0.0,
 'saldo_medio_var44_hace3': 0.0}

In [129]:
print(len(data))
print(len(target))

74930
74930

In [130]:
len(data.columns)

228

In [198]:
numeric_columns = data.select_dtypes(include=['number']).columns.tolist()
boolean_columns = data.select_dtypes(include=['bool']).columns.tolist()
categorical_columns = data.select_dtypes(include=['object']).columns.tolist()

In [200]:
temp = numeric_columns.copy()
for col in temp:
    if len(data[col].unique()) == 2:
        data[col] = data1[col] == max(data1[col])
        numeric_columns.remove(col)
        boolean_columns.append(col)

In [202]:
print(len(numeric_columns))
print(len(boolean_columns))
print(len(categorical_columns))

160
68
0

In [156]:
categorical_columns

[]