In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/train.csv")

In [3]:
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [4]:
len(data)

76020

In [5]:
sum(data["TARGET"])

3008

In [6]:
data.isnull().any().any()

False

In [7]:
selected_col = []
for col in data.columns:
    if len(data[col].unique()) != 1:
        selected_col.append(col)
print(len(selected_col))

337

In [8]:
data = data[selected_col]

In [9]:
target = data['TARGET']

In [10]:
df_pos = data[data['TARGET']==1]
df_neg = data[data['TARGET']==0]

In [11]:
data = data.drop('TARGET', axis=1)
df_pos = df_pos.drop('TARGET', axis=1)
df_neg = df_neg.drop('TARGET', axis=1)

In [12]:
selected_pos_col = []
non_selected_pos_col = []
for col in df_pos.columns:
    if len(df_pos[col].unique()) != 1:
        selected_pos_col.append(col)
    else:
        non_selected_pos_col.append(col)
print(len(selected_pos_col))

228

In [13]:
selected_neg_col = []
non_selected_neg_col = []
for col in df_neg.columns:
    if len(df_neg[col].unique()) != 1:
        selected_neg_col.append(col)
    else:
        non_selected_neg_col.append(col)
print(len(selected_neg_col))

336

In [14]:
intersection_cols = list(set(selected_pos_col) & set(selected_neg_col))

In [15]:
len(intersection_cols)

228

In [16]:
pos_samples_uniq = {}
for col in non_selected_pos_col:
    uniq1 = df_pos[col].unique()
    uniq0 = df_neg[col].unique()
    if uniq1[0] not in uniq0:
        print(col)
    else:
        target = target[data[col]==uniq1[0]]
        data = data[data[col]==uniq1[0]]
        data = data.drop(col, axis=1)
        pos_samples_uniq[col] = uniq1[0]

In [17]:
pos_samples_uniq

{'ind_var6_0': 0,
 'ind_var6': 0,
 'ind_var13_medio_0': 0,
 'ind_var13_medio': 0,
 'ind_var18_0': 0,
 'ind_var18': 0,
 'ind_var20_0': 0,
 'ind_var20': 0,
 'ind_var29_0': 0,
 'ind_var29': 0,
 'ind_var33_0': 0,
 'ind_var33': 0,
 'ind_var34_0': 0,
 'ind_var34': 0,
 'num_var6_0': 0,
 'num_var6': 0,
 'num_var13_medio_0': 0,
 'num_var13_medio': 0,
 'num_var18_0': 0,
 'num_var18': 0,
 'num_var20_0': 0,
 'num_var20': 0,
 'num_op_var40_hace3': 0,
 'num_var29_0': 0,
 'num_var29': 0,
 'num_var33_0': 0,
 'num_var33': 0,
 'num_var34_0': 0,
 'num_var34': 0,
 'saldo_var6': 0.0,
 'saldo_var13_medio': 0,
 'saldo_var18': 0,
 'saldo_var20': 0.0,
 'saldo_var29': 0.0,
 'saldo_var33': 0.0,
 'saldo_var34': 0,
 'delta_imp_amort_var18_1y3': 0,
 'delta_imp_amort_var34_1y3': 0,
 'delta_imp_aport_var33_1y3': 0.0,
 'delta_imp_reemb_var33_1y3': 0,
 'delta_imp_trasp_var17_in_1y3': 0,
 'delta_imp_trasp_var17_out_1y3': 0,
 'delta_imp_trasp_var33_in_1y3': 0,
 'delta_imp_trasp_var33_out_1y3': 0,
 'delta_imp_venta_var44_1y3': 0.0,
 'delta_num_aport_var33_1y3': 0.0,
 'delta_num_reemb_var33_1y3': 0,
 'delta_num_trasp_var17_in_1y3': 0,
 'delta_num_trasp_var17_out_1y3': 0,
 'delta_num_trasp_var33_in_1y3': 0,
 'delta_num_trasp_var33_out_1y3': 0,
 'delta_num_venta_var44_1y3': 0.0,
 'imp_amort_var18_ult1': 0.0,
 'imp_amort_var34_ult1': 0.0,
 'imp_aport_var17_hace3': 0.0,
 'imp_aport_var33_hace3': 0,
 'imp_aport_var33_ult1': 0,
 'imp_var7_emit_ult1': 0.0,
 'imp_compra_var44_hace3': 0.0,
 'imp_reemb_var17_hace3': 0.0,
 'imp_reemb_var33_ult1': 0,
 'imp_trasp_var17_in_hace3': 0.0,
 'imp_trasp_var17_in_ult1': 0.0,
 'imp_trasp_var17_out_ult1': 0.0,
 'imp_trasp_var33_in_hace3': 0.0,
 'imp_trasp_var33_in_ult1': 0.0,
 'imp_trasp_var33_out_ult1': 0,
 'imp_venta_var44_hace3': 0.0,
 'imp_venta_var44_ult1': 0.0,
 'ind_var7_emit_ult1': 0,
 'num_aport_var17_hace3': 0,
 'num_aport_var33_hace3': 0,
 'num_aport_var33_ult1': 0,
 'num_var7_emit_ult1': 0,
 'num_compra_var44_hace3': 0,
 'num_meses_var13_largo_ult3': 0,
 'num_meses_var13_medio_ult3': 0,
 'num_meses_var29_ult3': 0,
 'num_meses_var33_ult3': 0,
 'num_reemb_var17_hace3': 0,
 'num_reemb_var33_ult1': 0,
 'num_trasp_var17_in_hace3': 0,
 'num_trasp_var17_in_ult1': 0,
 'num_trasp_var17_out_ult1': 0,
 'num_trasp_var33_in_hace3': 0,
 'num_trasp_var33_in_ult1': 0,
 'num_trasp_var33_out_ult1': 0,
 'num_venta_var44_hace3': 0,
 'num_venta_var44_ult1': 0,
 'saldo_medio_var13_largo_hace2': 0.0,
 'saldo_medio_var13_largo_hace3': 0.0,
 'saldo_medio_var13_largo_ult1': 0.0,
 'saldo_medio_var13_largo_ult3': 0.0,
 'saldo_medio_var13_medio_hace2': 0.0,
 'saldo_medio_var13_medio_ult1': 0,
 'saldo_medio_var13_medio_ult3': 0.0,
 'saldo_medio_var17_hace2': 0.0,
 'saldo_medio_var17_hace3': 0.0,
 'saldo_medio_var29_hace2': 0.0,
 'saldo_medio_var29_hace3': 0.0,
 'saldo_medio_var29_ult1': 0.0,
 'saldo_medio_var29_ult3': 0.0,
 'saldo_medio_var33_hace2': 0.0,
 'saldo_medio_var33_hace3': 0.0,
 'saldo_medio_var33_ult1': 0.0,
 'saldo_medio_var33_ult3': 0.0,
 'saldo_medio_var44_hace2': 0.0,
 'saldo_medio_var44_hace3': 0.0}

In [18]:
print(len(data))
print(len(target))

74930
74930

In [19]:
len(data.columns)

228

In [20]:
numeric_columns = data.select_dtypes(include=['number']).columns.tolist()
boolean_columns = data.select_dtypes(include=['bool']).columns.tolist()
categorical_columns = data.select_dtypes(include=['object']).columns.tolist()

In [21]:
temp = numeric_columns.copy()
for col in temp:
    if len(data[col].unique()) == 2:
        data[col] = data[col] == max(data[col])
        numeric_columns.remove(col)
        boolean_columns.append(col)

In [22]:
print(len(numeric_columns))
print(len(boolean_columns))
print(len(categorical_columns))

160
68
0

In [86]:
from scipy.stats import chi2_contingency

def chi2_scipy(X, y):
    n_features = X.shape[1]
    chi2_stats = []
    p_values = []
    
    for i in range(n_features):
        contingency_table = pd.crosstab(pd.Series(X[:, i]), pd.Series(y))
        chi2, p_value, dof, expected = chi2_contingency(contingency_table)
        chi2_stats.append(chi2)
        p_values.append(p_value)
    
    return np.array(chi2_stats), np.array(p_values)

In [92]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.metrics import matthews_corrcoef
from sklearn.feature_selection import chi2

selected_boolean_feature = []
for col in boolean_columns:
    col_temp = data[col].to_numpy().reshape(-1, 1)
    info_gain = mutual_info_classif(col_temp, target, discrete_features=True)
    mcc = matthews_corrcoef(data[col], target)
    chi = chi2_scipy(col_temp, target)[1]#chi2(col_temp, target)[1]
    if abs(mcc)>0.3 or info_gain>0.05 or chi<0.05:
        selected_boolean_feature.append(col)

In [93]:
len(selected_boolean_feature)

4

In [152]:
from scipy.stats import kstest
import random

def ks_test_normality(X, alpha=0.05, max_sample_size=10000):
    """
    Performs the Kolmogorov-Smirnov test for normality on each feature.
    
    Parameters:
    - X: pandas DataFrame of features.
    - alpha: significance level.
    - max_sample_size: maximum sample size to use for the test.
    
    Returns:
    - DataFrame with features and test results.
    """
    results = []
    for feature in X.columns:
        data = X[feature].dropna()
        
        # Subsample if data is larger than max_sample_size
        if len(data) > max_sample_size:
            data = data.sample(n=max_sample_size, random_state=42)
        
        # Normalize the data to have mean=0 and std=1
        data_std = (data - data.mean()) / data.std()
        
        # Perform K-S test against the standard normal distribution
        ks_stat, p_value = kstest(data_std, 'norm')
        
        results.append({
            'Feature': feature,
            'KS Statistic': ks_stat,
            'p-value': p_value,
            'Normality': 'Yes' if p_value > alpha else 'No'
        })
    
    results_df = pd.DataFrame(results)
    return results_df


# normality_results = ks_test_normality(X)

In [154]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind

# Assuming X is your features DataFrame and y is your target Series
# For binary classification where y has two classes (e.g., 0 and 1)

def t_test_feature_selection(X, y, alpha=0.05):
    results = []
    classes = y.unique()
    if len(classes) != 2:
        raise ValueError("t-test is applicable for binary classification only.")
    
    class1 = classes[0]
    class2 = classes[1]
    
    for feature in X.columns:
        group1 = X[y == class1][feature]
        group2 = X[y == class2][feature]
        
        # Perform t-test
        t_stat, p_value = ttest_ind(group1, group2, equal_var=False)
        
        results.append({'Feature': feature, 't-statistic': t_stat, 'p-value': p_value})
    
    results_df = pd.DataFrame(results)
    # Select features where p-value is less than alpha
    selected_features = results_df[results_df['p-value'] < alpha]['Feature'].tolist()
    
    print("Selected Features based on t-test:")
    print(selected_features)
    return results_df


# results_df = t_test_feature_selection(X, y)

In [156]:
from scipy.stats import mannwhitneyu

def mannwhitney_feature_selection(X, y, alpha=0.05):
    # Reset indices to ensure they align
    X = X.reset_index(drop=True)
    y = y.reset_index(drop=True)
    
    results = []
    classes = y.unique()
    if len(classes) != 2:
        raise ValueError("Mann-Whitney U test is applicable for binary classification only.")
    
    class1, class2 = classes
    
    for feature in X.columns:
        group1 = X.loc[y == class1, feature]
        group2 = X.loc[y == class2, feature]
        
        # Perform Mann-Whitney U Test
        u_stat, p_value = mannwhitneyu(group1, group2, alternative='two-sided')
        
        results.append({'Feature': feature, 'U-statistic': u_stat, 'p-value': p_value})
    
    results_df = pd.DataFrame(results)
    # Select features where p-value is less than alpha
    selected_features = results_df[results_df['p-value'] < alpha]['Feature'].tolist()

    return results_df

In [158]:
def ks_feature_selection(X, y, alpha=0.05, max_sample_size=10000):
    """
    Performs the Kolmogorov-Smirnov test between classes for each feature.

    Parameters:
    - X: pandas DataFrame of features.
    - y: pandas Series of target labels.
    - alpha: significance level.
    - max_sample_size: maximum sample size to use for each class.

    Returns:
    - DataFrame with features and test results.
    """
    import numpy as np
    from itertools import combinations
    from scipy.stats import ks_2samp

    # Reset indices to ensure alignment
    X = X.reset_index(drop=True)
    y = y.reset_index(drop=True)

    results = []
    classes = y.unique()
    class_pairs = list(combinations(classes, 2))

    for feature in X.columns:
        is_significant = False
        ks_stat = None
        p_value = None

        for cls1, cls2 in class_pairs:
            # Select groups with aligned indices
            group1 = X.loc[y == cls1, feature].dropna()
            group2 = X.loc[y == cls2, feature].dropna()

            # Subsample if necessary
            if len(group1) > max_sample_size:
                group1 = group1.sample(n=max_sample_size, random_state=42)
            if len(group2) > max_sample_size:
                group2 = group2.sample(n=max_sample_size, random_state=42)

            ks_stat, p_value = ks_2samp(group1, group2)

            # Record if any class pair shows significant difference
            if p_value < alpha:
                is_significant = True
                break  # No need to check other pairs

        results.append({
            'Feature': feature,
            'KS Statistic': ks_stat,
            'p-value': p_value,
            'Significant Difference': 'Yes' if is_significant else 'No'
        })

    results_df = pd.DataFrame(results)
    return results_df

In [160]:
normality_results = ks_test_normality(data[numeric_columns])
normal_features = normality_results[normality_results['Normality']=='Yes']['Feature'].values
non_normal_features = normality_results[normality_results['Normality']=='No']['Feature'].values
if len(normal_features)>0:
    t_test_df = t_test_feature_selection(data[normal_features], target)
if len(non_normal_features)>0:
    mann_test_df = mannwhitney_feature_selection(data[non_normal_features], target)
ks_selection_results = ks_feature_selection(data[numeric_columns], target)

In [164]:
ks_selected_features = ks_selection_results[ks_selection_results['Significant Difference']=='Yes']
ks_selected_features = ks_selected_features['Feature'].values

In [166]:
mann_test_selected_feature = mann_test_df[mann_test_df['p-value']<0.05]
mann_test_selected_feature = mann_test_selected_feature['Feature'].values

In [176]:
print(len(ks_selected_features))
print(len(mann_test_selected_feature))

56
93

In [172]:
all_selected_features = list(set(ks_selected_features).union(set(mann_test_selected_feature)))

97

In [ ]:
import numpy as np
import pandas as pd

def benjamini_hochberg(p_values, q=0.05):
    """
    Applies the Benjamini-Hochberg procedure to control the False Discovery Rate.
    
    Parameters:
    - p_values: Array-like, list or array of p-values from independent tests.
    - q: Desired False Discovery Rate (e.g., 0.05).
    
    Returns:
    - A DataFrame with p-values, adjusted critical values, and significance status.
    """
    p_values = np.array(p_values)
    m = len(p_values)
    df = pd.DataFrame({'p_value': p_values})
    df['rank'] = df['p_value'].rank(method='min').astype(int)
    df.sort_values('p_value', inplace=True)
    df['critical_value'] = (df['rank'] / m) * q
    df['significant'] = df['p_value'] <= df['critical_value']
    # Identify the largest p-value that is significant
    max_significant_rank = df[df['significant']]['rank'].max()
    # Adjust significance for all p-values
    df['significant'] = df['rank'] <= max_significant_rank
    df.sort_index(inplace=True)  # Return to original order
    return df

In [ ]:
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

print(df.describe())
print(df.duplicated().sum())